body {
	font-family: 'Droid Sans', verdana, sans-serif;
	background-color:#dcdcff;
	padding:0 1em 1em;
	position: relative;
}

form {
	width: 470px;
	top:-6px;
	overflow:hidden;
	height:3em;
	position:absolute;
	z-index:10;
	background-color:#3c5;
	color:#ddd;
	padding:0.5em 1em 2.5em 1em;
	font-size: 0.95em;
}
form a {
	position: absolute;
	bottom:4px;
	right:4px;
	font-size:9px;
	color:#fff;
}
form legend {
	padding-bottom: 0em;
	font-size:1.6em;
	margin-top:0em;
	color:#fff;
}
form .tip {
	font-size: 9px;
	color:#ffdddd;
	display: block;
	clear: both;
}
blockquote, pre, svg text, .label {
	font-family: 'Inconsolata', courier, monospace;
}
#label_county_toggle {clear:both;}
#label_county_toggle, #county_toggle {
	float:left;
	display: block;
	padding-right:0.5em;
}
#county_toggle {
	margin-top:0.5em;
}
.counties {
	display:none;
}

svg {
	position:relative;
	margin-top:-6px;
	background-color:#99C8E6;
	shape-rendering: optimizeSpeed;
}
path {
	stroke: #003300;
	fill: #FFCCB2;
}
svg text {
	padding-left:2px;
	padding-bottom:2px;
	font-size: 0.6em;
	opacity: 1;
}
circle {
	opacity:0.7;
	stroke-width:0.5px;
	stroke:#222;
}
.towns circle {
	opacity: 0.9
}
.towns circle:hover {
	opacity: 1;
	
}

.counties circle {
	opacity:0.2;
	fill:red;
	stroke-width:0;

}

.county-label {
	letter-spacing: 2px;
	font-size:0.9em;
	font-variant:small-caps;
    fill: #888;
    stroke-width: 0;
    opacity: 0;
}

rect {
	fill: #aaffaa;
}

.features {

}
	.subunit.IRL, .path.IRL:hover  { fill: #eee !important; }
	.subunit-label {
	  fill: #a77;
	  fill-opacity: .9;
	  font-size: 0.75em;
	  font-weight: 500;
	  text-anchor: middle;
	  font-family: "Droid Sans", verdana, sans-serif;
	  text-transform:uppercase;
	}
	
	.subunit-label.GGA, .subunit-label.GGG, .subunit-label.GGS, 
	.subunit-label.JEY, .subunit-label.IMN, .subunit-label.IRL {display: none}

.legend {
	font-size: 1.5em;
}
.label {
	padding:0 ;
	font-size:9px;
	line-height:9px;
	fill:#222;
}
.label:hover, .selected {
	fill:#844;
	cursor: pointer;
	font-size:10px;
}

.value {
	font-size: 7px;
	font-weight: 300;
	fill: #222;
}
.highlight {
	font-size:1.8em;
	fill:#955;
	stroke:#222;
	stroke-width:0.25px;
}
.axes path, .axes line {
    fill: transparent;
    stroke: #aaffaa;
    stroke-width:1px;   
}
.axes text {
	padding:0;
    font-size: 9px;
    fill:#222;
}
